.botsDirectory {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to top, #003459, #506080, #8c91a8, #c6c6d2, #ffffff);
    min-height: 48vh;
}